{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans la médiathèque</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores aspernatur assumenda cumque deleniti
        doloremque eos et impedit, nam nihil, omnis perspiciatis quia quos repudiandae sit sunt temporibus tenetur
        voluptatem! Dignissimos impedit labore quia ratione sequi similique tenetur! A, velit.</p>
    <p>Ab aliquid earum
        eligendi est facere laudantium maiores minima natus necessitatibus non odit, placeat quidem quis rerum sit velit
        veritatis! Beatae, eligendi eveniet facere facilis id incidunt labore, nihil officiis pariatur quasi quis quisquam
        quod reprehenderit soluta tempore velit, veritatis.</p>
{% endblock %}