{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>Titre du media</h2>
        <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut delectus dolor excepturi fuga iste!</p>
            <p>Alias amet, consectetur cumque cupiditate magnam quae suscipit vitae? Amet ducimus eos incidunt quibusdam
                voluptatibus.</p>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad laborum laudantium recusandae sed vitae!
                Doloribus ex iure pariatur? Accusamus adipisci architecto aspernatur at atque aut autem cum dolor dolore
                dolores ducimus enim et fugiat illum laudantium maiores odio officiis possimus quibusdam quos
                recusandae, repudiandae sapiente soluta sunt temporibus voluptatem voluptates!</p>
            <p>Ab accusamus animi, at consequatur consequuntur deleniti deserunt dolores dolorum, ducimus eveniet ex
                facilis hic illo illum maiores maxime modi molestiae molestias mollitia necessitatibus numquam odio
                officiis praesentium quibusdam quod repudiandae sit suscipit tempore veritatis voluptate. Aspernatur
                autem exercitationem fugit hic laborum nobis saepe soluta. Perspiciatis placeat quod veritatis
                voluptatem?</p>
        </div>
    </article>
{% endblock %}


